.textarea{
    position: fixed;
    width: 90%;
    height: 20%;
    margin: 3%;
    padding: 2%;
    border: 2px solid #555555;
}
.keyboard{
    display: block;
    position: fixed;
    bottom: 3%;
    margin: 0 3%;
    padding: 5px 0;
    background: #555555;
    user-select: none;
    transition: bottom 0.5s;
    width: 94%;
    border-radius: 10px;
}
/*.keyboard-hidden{
    bottom: -100%;
}*/
.keyboard_keys{
    text-align: center;
}
.keyboard_key {
    height: 50px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard_key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard_key-wide {
    width: 20%;
    max-width: 120px;
}

.keyboard_key-extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard_key-activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard_key-active::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #08ff00;
}

.keyboard_key-en::after {
    content: 'en';
    float: right;    
}

.keyboard_key-ru::after {
    content: 'ru';
}

.keyboard_key-dark {
    background: rgba(0, 0, 0, 0.25);
}