*{ margin: 0;}

body{
  width: 765px;
  margin: 0  auto 0 auto;
}
textarea{
  margin-top: 50px;
  font-size: 16px;
  height: 120px;
  width: 710px;
}

#keybord{
  padding-top: 6px;
  padding-right: 6px;
  background-color: #A9A9A9;
  border: 3px solid black;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  width: 704px;
}
.regular-key,.irregular{
  margin-bottom: 8px;
  margin-left: 6px;
  width: 40px;
  height: 40px;
  background-color: rgb(243, 148, 71);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.irregular{
   background-color: rgb(102, 37, 37);
   font-size: 1.2em;
 }
.irregular:hover{
  background-color: #500707;
  color: #f3b2ae;
}
.regular-key:hover{
  background-color: #a36338;
  color: #cbf57d;
}

.back,
.caps,
.shift{ width: 100px }

.tab{ width: 50px }

.shiftR-enter{ width:86px }

.space{ width: 330px }

.-focus{
  background-color: yellow;
  color: #500707;
  border-radius: 10px;
  transition: 0.2s;
}
.description{
  font-size: 1.5em;
  color: red;
  text-align: center;
  margin-top: 15px;
}